<html ng-app>
  <head>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  </head>
<body>

<div class="container">
  Check this out: <input type="text" ng-model="name" /> {{name}}

  <hr>
  <p>Angular Expressions:
  <ul>
    <li> 1 + 3 is {{ 1 + 3 }}
    <li> My current balance: {{ 1112.12 | currency }}
    <li> foo == bar?: {{ "foo" == "bar" }}
    <li> foo == foo?: {{ "foo" == "foo" }}
    <li> LOWERCASE ME: {{ "LOWERCASE ME" | lowercase }}
    <li> Checked?: <input type=checkbox ng-checked="{{ 1 == 1 }}" />
  </ul>

  <hr>
  <p>Search: <input ng-model="query">

 <div ng-init="names=['Yoni','James', 'Yin' ,'Matt','Tim','Joe', 'Jack', 'Pete', 'Melody', 'David', 'Jacob']">    
 		<ul>
      <span ng-repeat="name in names | filter:query ">
        <li>{{ name }}
      </span>
    </ul>
  </div>

</div>

</body>
</html>
